
html, body {
    background-color: black;
    margin: 0px;
    height: 100%;
    bottom: 0%;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: flex-start;
    align-items: center;
}

#template {
    min-height: 100%;
    position: relative;
}

table {
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
    border: 1px black solid;
    background-color: black;
}

td {
    text-align: center;
    border: 1px black solid;
    width: 80px;
    background-color: rgb(145, 157, 226);
}

th {
    text-align: center;
    border: 1px black solid;
    width: 80px;
    background-color: rgb(145, 157, 226);
}

header {
    width: 100%;
    height: 100px;
    background-color: rgb(145, 157, 226);
    border-bottom: 2px solid black;
    font-size: 25pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

b {
    vertical-align: middle;
}

footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    border-top: 2px solid black;
    margin: 0px;
    background-color: rgb(145, 157, 226);
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}

#outside-footer {
    width: 100%;
}

.grid-master {
    display: grid;
    grid-template-columns: 19.8% 60% 19.8%;
    grid-gap: .2%;
    padding-bottom: 40px;
    max-width: 100%;
    height: 100%;
}

.grid-side {
    padding: 5px 10px;
    background-color: rgb(145, 157, 226);
    height:100%;
    min-width: 20%;
}

.content {
    padding: 5px 10px;
    background-color: slategray;
    height:100%;
}

.alu-grid-container {
    display:grid;
    grid-template-columns: repeat(22, 1fr);
}

.alu-grid-item-title {
    grid-column: 1/23;
    border: 1px solid black;
    background-color: white;
    width: 100%;
    text-align: center;
}

.alu-grid-item-x-register {
    grid-column: 1/9;
    border: 1px solid black;
    background-color: white;
    width: 100%;
    text-align: center;
}

.alu-grid-item-y-register {
    grid-column: 9/17;
    border: 1px solid black;
    background-color: white;
    width: 100%;
    text-align: center;
}

.alu-grid-item-label {
    grid-column: 17/23;
    border: 1px solid black;
    background-color: white;
    width: 100%;
    text-align: center;
}

.alu-grid-item {
    border: 1px solid black;
    background-color: white;
    width: 100%;
    text-align: center;
}

#alu-x-register-decimal {
    width: 99%;
    height: auto;
    background-color: white;
    text-align: center;
}

#alu-y-register-decimal {
    width: 99%;
    height: auto;
    background-color: white;
    text-align: center;
}